<div class="rules">
  <h1>Rules</h1>
  <ol>
    <%= for rule <- @rules do %>
      <li>
        <a href={~p"/rules/#{rule.id}"}>
          {rule.text}
        </a>
      </li>
    <% end %>
  </ol>
</div>